@import "px2rem.scss";



*{
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
    width: 100%;
    background-color: #FFF;
    font-family: "Arial"
}

#nav-bar{
    position:relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    text-align:center;
    #title{
        color:#FFF;
        line-height: px2rem(1423 / 2);        
        width: 100%;
        font-size: px2rem(40);
    }
}





.title-transition{
    animation:mytitlemove 2s 1;
    -webkit-animation:mytitlemove 2s 1;
    animation-fill-mode:forwards;
    -webkit-animation-fill:mytitlemove 2s 1;
}
@keyframes mytitlemove {

    100%{
        line-height:px2rem(300);        

    }
}
.nav-transition{
    animation:mynavmove 2s 1;
    animation-fill-mode:forwards;
    -webkit-animation-fill:mynavmove 2s 1;
    animation-fill-mode:forwards;

}

@keyframes mynavmove {

    100%{
        height: px2rem(300);
    }
}

footer{
    position:fixed;
    bottom:0;
    height: px2rem(50);
    width: 100%;
    background-color:#DDDDDD;
    text-align: center;
    line-height: px2rem(50);
}


#works{
    margin:0 auto;
    margin-top:px2rem(100);
    margin-bottom:px2rem(100);

    width: 80%;

    div{
        text-align:center;
        .content{
            position:relative;
            border:1px #CCC solid;
            // padding:20px;
            margin-top:px2rem(100);
            margin-bottom:px2rem(100);
            opacity:0;
            height: auto;

        }
    }
}

.content-animation{
    animation:mycontentmove 1s 1;
    animation-fill-mode:forwards;

}

@keyframes mycontentmove{
    to{
        opacity:1;
    }
}

